:root{
    --color-1: #F6F6F6;
    --color-2: #000000;
    --color-3: #141414; 
    --color-4: #FFFFFF;
    --color-5: #171717;
    --color-6: #2ECDFF;
    --color-7: #2C2C2C;
    --color-8: #383838;
    --color-9: #707070;
}